<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <div class="container-tenx">
    <header class="header">
      <div class="image-container">
        <img class="banner" src="statics/banner.png" alt="Header Image">
      </div>
    </header>
    <main>
      <div class="content">
      <section class="intro">
        <h1>Tiko Tev nosūtiju <span class="highlight">Treniņprogrammu</span> ē-pastā. Ej un izšaujies cauri atmosfērai!</h1>
        <p>Pārbaudi arī SPAM vēstules!</p>
        <hr class="line">
        <h2>Mani sociālie:</h2>
        <div class="buttons">
          <a href="https://www.instagram.com/mikelis_silins/" class="fa fa-instagram"></a>
          <a href="https://www.youtube.com/@mikelis_silins" class="fa fa-youtube"></a>
          <a href="mailto:mikelissilins25@gmail.com" class="fa fa-google"></a>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
    </main>
  </div>
</body>
</html>
