<!DOCTYPE html>
<html lang="lv">
<%- include('./partials/head.ejs') %>
<body>
  <div class="container-tnx">
    <header class="header header-tnx">
      <div class="image-container">
        <img class="banner" src="/images/banner.png" alt="Header Image">
      </div>
    </header>
    <main>
      <div class="content">
        <section class="intro">
          <h1>Tiko Tev nosūtiju <span class="highlight">Treniņprogrammu</span> e-pastā. Ej un izšaujies cauri atmosfērai!</h1>
          <p>Pārbaudi arī SPAM vēstules!</p>
        </section>
        <hr class="line">
        <section class="socials">
          <h2>Mani sociālie:</h2>
          <div class="social-icons">
            <a href="https://www.youtube.com/@mikelis_silins" target="_blank"><i class="fab fa-youtube"></i></a>
            <a href="https://discord.gg/3QfjkETaSk" target="_blank"><i class="fab fa-discord"></i></a>
            <a href="https://www.instagram.com/mikelis_silins/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="mailto:mikelissilins25@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
          </div>
        </section>
      </div>
      <%- include('./partials/footer.ejs') %>
    </main>
  </div>
</body>
</html>
