<!DOCTYPE html>
<html lang="lv">
<%- include('./partials/head.ejs') %>
<body>
  <div class="container container-error">
    <main>
      <div class="content">
        <section class="intro">
          <h1>Ups! Kaut kas nogāja greizi.</h1>
          <p>Atvaino, bet radusies kļūda. Lūdzu, mēģiniet vēlreiz vēlāk.</p>
          <p>Ja problēma atkārtojas, lūdzu, sazinies ar mani mikelissilins25@gmail.com</p>
          <div class="btn-container">
            <a href="/" class="btn">Doties uz sākumlapu</a>
          </div>
        </section>
      </div>
      <%- include('./partials/footer.ejs') %>
    </main>
  </div>
</body>
</html>
