/* Reset default styles */
body, h1, h2, p, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Set background color and image */
body {
    background-color: #f5f5f5;
    background-image: url("statics/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically, if needed */
}

/* Container to wrap header and main content */
.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    margin: 60px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-color: #fff;
    height: 800px; /* Ensure the container takes the desired height */
    width: 800px;
}

.container-tenx {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 60px 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    overflow: hidden;
    background-color: #fff;
    height: 800px; /* Ensure the container takes the desired height */
    width: 800px;
}

/* Style the header using Flexbox */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    flex: 0 0 50%; /* Set the header width */
    height: 100%; /* Ensure it takes the full height of the container */
}

/* Image container styling */
.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.image-container img.banner {
    width: 150%;
    height: 150%;
    object-fit: cover; /* Ensures the image covers the container */
    object-position: center; /* Center the image */
    aspect-ratio: 2/1;
}



/* Style the main content */
main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto; /* Allow scrolling if content overflows */
    flex: 1; /* Allow main to take available space */
}

/* Style the intro section */
.intro {
    text-align: center;
    padding: 5px 0;
}

.intro h1 {
    font-size: 32px;
    margin-bottom: 5px;
    font-weight: 800;
}

.intro p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 400;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}

/* Content wrapper to push footer to the bottom */
.content {
    flex: 1; /* Allow content to grow and take available space */
}

/* Style the footer */
footer {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
}

/* Additional styles */
h1 {
    font-size: 36px;
    font-weight: 800;
    color: #000000;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    line-height: 1.5;
    color: #666;
    font-weight: 400;
}

/* Highlighted text */
.highlight {
    color: #AF0000;
}


.subscribe form {
    flex: 1 1 400px; /* Flex-grow, flex-shrink, and flex-basis for responsiveness */
    max-width: 300px; /* Limit max width for responsiveness */
    width: 100%;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the form inputs */
form input[type="email"], form input[type="text"] {
    display: block;
    width: 100%;
    padding: 7px 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

form input[type="email"]:focus, form input[type="text"]:focus {
    border-color: #AF0000;
    outline: none;
}

/* Style the form submit button */
form button[type="submit"] {
    background-color: #af0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

form button[type="submit"]:hover {
    background-color: #6e0000;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}
  
.fa-instagram {
    background: #125688;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

/* Media queries for responsiveness */
@media (max-width: 800px) {
    .container {
        flex-direction: column;
        height: auto; /* Adjust height for column layout */
    }

    .header {
        flex: 0 0 auto;
        height: auto;
    }

    .intro p {
        margin-left: 10px;
        margin-right: 10px;
    }
}