<footer>
    <p>&copy; Muskuļu masas palielināšanas treniņu programma 2.0 Visas tiesības aizsargātas - Miķelis Siliņš</p>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HQ945JB14P"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-HQ945JB14P');
    </script>
</footer>
