<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Par ēpastu un vārdu automātiski atsūtu treniņprogrammu un saglabāj tos datubāzē">
    <meta name="keywords" content="sevispilnveidošana, Treniņprogramma, Muskuļu masas palielināšana">
    <meta name="author" content="Miķelis Siliņš">
    <title>Miķelis Siliņš | <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
